* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #F6BE00;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sm-2: 14px;
  --box-shadow1: 0 3px 15px rgba(0,0,0,.2) ;
}

/* Body */
body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
/*-----------------------------------------Header------------------------------*/

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}


section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

/* Sections */
.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}

/* Keyframe Abschnitt*/

@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

/* Animation für das Ausfahren der Progressbar */
@keyframes growBar {
  from {
      width: 0%; 
  }
  to {
      width: 40%; 
  }
}
@keyframes growBarENG {
  from {
      width: 0%; 
  }
  to {
      width: 30%; 
  }
}


/*------------------------------------------------------------------------------------*/
/* Controls */ 

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  padding: 2rem;
  cursor: pointer;
  background-color: var(--color-grey4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow1);
}
.controls .control i {
  font-size: 1.5rem;
  color: var(--color-grey2);
  pointer-events: none;
}

/*----------------------------------------------------------------------------------*/

/* Header Style */ 

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 40%;
  height: 40%;
  background-color: var(--color-secondary);
  position: absolute;
  margin-top: 19rem;
  left: 4;
  top: 0;
  z-index: -1;
  clip-path: circle(46% at 50% 50%);
  margin-left: 20rem;
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 50%;
  width: 68%;
  margin-top: 10rem;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: greyscale(100%);
}

.header-content .left-header .eagle img {
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 7.5rem;  
    margin-top: 0px;  
    z-index: 1000;   
}



.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 2rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

/*------------------------------------------------------------------------------*/
/* Download Button Style */

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 3px solid var(--color-secondary);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 1rem;
  font-size: 100%;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5%;
  padding: 1rem;
}
.main-btn .btn-icon i {
  font-size: 1.5rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}




/*--------------------------------------------------------------------------------*/
/* Über mich = Main content style */
.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-top: -2rem;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 20%;
  left: 50%;
  color: var(--color-grey5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 1rem;
}

/* Über mich = Left-about h4 titel*/
.left-about h4 {
  font-size: 1.5rem;
  margin-top: 7rem;
}
/* über mich = Left about P */ 
.left-about p{
  font-size: 1rem;
  margin-top: 3rem;
}
.left-about .btn-con{
  margin-top: 8rem;
}
/* über mich = left about Sprachen */  
.about-container .left-about .sprachen .progressbar .language-label{
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--color-white);
  
}
.about-container .left-about .sprachen .progressbar .progress-german span {
  font-size: 1rem;
  background-color: var(--color-secondary); 
  display: block;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  color: var(--color-primary);
  font-weight: bold;
  line-height: 2rem; /* Vertikale Zentrierung */
  border-radius: 10px; /* Abgerundete Ecken */

  /* Animation auf die Progressbar */
  width: 0; 
  animation: growBar 3s ease-out forwards; 
  animation-delay: 1s; 

}
.about-container .left-about .sprachen .progressbar .progress-french span {
  font-size: 1rem;
  background-color: var(--color-secondary); 
  display: block;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  color: var(--color-primary);
  font-weight: bold;
  line-height: 2rem; /* Vertikale Zentrierung */
  border-radius: 10px; /* Abgerundete Ecken */

/* Animation auf die Progressbar */
  width: 0; 
  animation: growBar 3s ease-out forwards; 
  animation-delay: 1s; 


}
.about-container .left-about .sprachen .progressbar .progress-english span {
  font-size: 1rem;
  background-color: var(--color-secondary); 
  display: block;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  color: var(--color-primary);
  font-weight: bold;
  line-height: 2rem;
  border-radius: 10px;

  /* Animation auf die Progressbar */
  width: 0; 
  animation: growBarENG 3s ease-out forwards; 
  animation-delay: 1s; 
}
.about-container .left-about .sprachen .progressbar .progress {
  background-color: var(--color-white); /* Hintergrundfarbe des leeren Balkens */
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  margin-bottom: 20px;
}

/*------------------------------------------------------------------------------------------*/
/* Portfolio Seite */ 
#portfolio .main-title span{
  color: var(--color-white);
}











/*-------------------------------------------------------------------------------------------*/
/*Kontakt Seite*/
#kontakt .MessageForm{
  margin-left: 40rem;
  margin-top: 15rem;


}